<%# if(typeof site.customConfig.id_card === 'undefined'&& site.customConfig.id_card){ %>
    <div class="id_card i-card">
        <div class="id_card-avatar">
            <img src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>">
        </div>
        <h1 class="id_card-title">
            <%= themeConfig.siteName %>
        </h1>
        <h2 class="id_card-description">
            <%= themeConfig.siteDescription %>
        </h2>
        <!--  -->
        <div class="id_card-sns">
            <!-- github -->
            <% if(site.customConfig.github){ %>
                <a href="<%= site.customConfig.github %>" target="_blank" rel="noopener noreferrer"><i
                class="fa fa-github"></i></a>
                <%}%>
                    <!-- twitter -->
                    <% if(site.customConfig.twitter){ %>
                        <a href="<%= site.customConfig.twitter %>" target="_blank" rel="noopener noreferrer"><i
                class="fa fa-twitter"></i></a>
                        <%}%>
                            <!-- weibo -->
                            <% if(site.customConfig.weibo){ %>
                                <a href="<%= site.customConfig.weibo %>" target="_blank" rel="noopener noreferrer"><i
                class="fa fa-weibo"></i></a>
                                <%}%>
                                    <!-- facebook -->
                                    <% if(site.customConfig.facebook){ %>
                                        <a href="<%= site.customConfig.facebook %>" target="_blank" rel="noopener noreferrer"><i
                class="fa fa-facebook"></i></a>
                                        <%}%>
                                        <!-- douban -->
                                        <% if(site.customConfig.douban){ %>
                                            <a href="<%= site.customConfig.douban %>" target="_blank" rel="noopener noreferrer">
                                                <svg t="1660751300927" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2563" width="200" height="200"><path d="M1023.979 862.827A161.152 161.152 0 0 1 862.805 1024H161.173A161.152 161.152 0 0 1 0 862.827V161.195A161.195 161.195 0 0 1 161.173 0.02h701.632a161.195 161.195 0 0 1 161.174 161.174v701.632z" fill="#515151" p-id="2564" data-spm-anchor-id="a313x.7781069.0.i2" class="selected"></path><path d="M218.56 208.064h586.816v66.09H218.56z m535.83 393.493v-258.41h-484.8v258.41h484.8zM339.882 409.173H684.8v126.358H339.883V409.173z m309.61 341.334c21.099-32.299 41.003-69.739 59.435-112.256l-70.507-25.707c-18.346 50.368-39.701 96.427-64 137.941H451.712c-20.373-53.802-43.328-99.818-69.077-137.941l-64.854 25.707c26.752 40.128 48.32 77.482 64.854 112.256H201.94v65.386h620.054v-65.386H649.493z" fill="#FFFFFF" p-id="2565" data-spm-anchor-id="a313x.7781069.0.i3" class=""></path></svg>
                                            </a>
                                        <%}%>

        </div>
    </div>
    <%# } %>
    <script>
        // const date = new Date();
        // const today = date.toISOString().substring(0, 10);
        // console.info(today)
        // $.ajax({
        //     url: `http://sentence.iciba.com/index.php?c=dailysentence&m=getdetail&title=${today}`,
        //     type: "GET",
        //     dataType: "jsonp", //指定服务器返回的数据类型
        //     success: function (data) {
        //         $(".id_card-description").text(data.content)
        //         console.log(data);
        //     }
        // });
    </script>